/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$ball-name: 'ball';
$ball-x: 216px;
$ball-y: 0px;
$ball-offset-x: -216px;
$ball-offset-y: 0px;
$ball-width: 55px;
$ball-height: 55px;
$ball-total-width: 282px;
$ball-total-height: 250px;
$ball-image: '/static/images/sprite.png';
$ball: 216px 0px -216px 0px 55px 55px 282px 250px '/static/images/sprite.png' 'ball';
$btn-full-name: 'btn-full';
$btn-full-x: 141px;
$btn-full-y: 172px;
$btn-full-offset-x: -141px;
$btn-full-offset-y: -172px;
$btn-full-width: 141px;
$btn-full-height: 29px;
$btn-full-total-width: 282px;
$btn-full-total-height: 250px;
$btn-full-image: '/static/images/sprite.png';
$btn-full: 141px 172px -141px -172px 141px 29px 282px 250px '/static/images/sprite.png' 'btn-full';
$btn-join-name: 'btn-join';
$btn-join-x: 0px;
$btn-join-y: 192px;
$btn-join-offset-x: 0px;
$btn-join-offset-y: -192px;
$btn-join-width: 141px;
$btn-join-height: 58px;
$btn-join-total-width: 282px;
$btn-join-total-height: 250px;
$btn-join-image: '/static/images/sprite.png';
$btn-join: 0px 192px 0px -192px 141px 58px 282px 250px '/static/images/sprite.png' 'btn-join';
$full-name: 'full';
$full-x: 112px;
$full-y: 0px;
$full-offset-x: -112px;
$full-offset-y: 0px;
$full-width: 104px;
$full-height: 86px;
$full-total-width: 282px;
$full-total-height: 250px;
$full-image: '/static/images/sprite.png';
$full: 112px 0px -112px 0px 104px 86px 282px 250px '/static/images/sprite.png' 'full';
$my-racket-name: 'my-racket';
$my-racket-x: 0px;
$my-racket-y: 0px;
$my-racket-offset-x: 0px;
$my-racket-offset-y: 0px;
$my-racket-width: 112px;
$my-racket-height: 192px;
$my-racket-total-width: 282px;
$my-racket-total-height: 250px;
$my-racket-image: '/static/images/sprite.png';
$my-racket: 0px 0px 0px 0px 112px 192px 282px 250px '/static/images/sprite.png' 'my-racket';
$one-player-name: 'one-player';
$one-player-x: 112px;
$one-player-y: 86px;
$one-player-offset-x: -112px;
$one-player-offset-y: -86px;
$one-player-width: 67px;
$one-player-height: 86px;
$one-player-total-width: 282px;
$one-player-total-height: 250px;
$one-player-image: '/static/images/sprite.png';
$one-player: 112px 86px -112px -86px 67px 86px 282px 250px '/static/images/sprite.png' 'one-player';
$opponent-racket-name: 'opponent-racket';
$opponent-racket-x: 179px;
$opponent-racket-y: 86px;
$opponent-racket-offset-x: -179px;
$opponent-racket-offset-y: -86px;
$opponent-racket-width: 34px;
$opponent-racket-height: 57px;
$opponent-racket-total-width: 282px;
$opponent-racket-total-height: 250px;
$opponent-racket-image: '/static/images/sprite.png';
$opponent-racket: 179px 86px -179px -86px 34px 57px 282px 250px '/static/images/sprite.png' 'opponent-racket';
$spritesheet-width: 282px;
$spritesheet-height: 250px;
$spritesheet-image: '/static/images/sprite.png';
$spritesheet-sprites: $ball $btn-full $btn-join $full $my-racket $one-player $opponent-racket;
$spritesheet: 282px 250px '/static/images/sprite.png' $spritesheet-sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
