.board {
  position: absolute;
  width: 1000px;
  height: 563px;
  cursor: none;
  background: url('/static/images/board.jpg') no-repeat;
  overflow: hidden;

  #my-racket {
    position: absolute;
    z-index: 4;
    top: 290px;
    left: 444px;
    @include sprite($my-racket);
    opacity: 0.6;
  }
}

.pointer {
  position: absolute;
  z-index: 3;
  top: 180px;
  @include sprite($opponent-racket);
}

.ball {
  position: absolute;
  z-index: 3;
  /*@include sprite($ball); */
  background: url('/dev/sprite/ball.png');
  width: 30px;
  height: 30px;
  top: 350px;
  -webkit-transition: 1000ms;
  transition: 1000ms;

  &.my {
    -webkit-transition: 0ms;
    transition: 0ms;
  }
}
