.board {
  position: absolute;
  z-index: 2;
  width: 1000px;
  height: 563px;
  cursor: none;
  background: url('/static/images/board.jpg') no-repeat;
  overflow: hidden;
}

#my-racket {
  position: absolute;
  z-index: 5;
  top: 290px;
  left: 444px;
  @include sprite($my-racket);
  opacity: 0.6;

  #main-racket {
    width: 112px;
    height: 112px;
    position: relative;
    .center-pointer { width: 1px; height: 1px; top: 50%; left: 50%; position: absolute; }
    .corner { position: absolute; width: 1px; height: 1px; background: red;}
    .corner-top-left { top: 0; left: 0; }
    .corner-top-right { top: 0; right: 0; }
    .corner-bottom-left { bottom: 0; left: 0; }
    .corner-bottom-right { bottom: 0; right: 0; }
  }
}

.pointer {
  position: absolute;
  z-index: 3;
  top: 180px;
  @include sprite($opponent-racket);
}

.ball {
  position: absolute;
  z-index: 4;
  /*@include sprite($ball); */
  background: url('/dev/sprite/ball.png');
  width: 30px;
  height: 30px;
  top: 350px;
  -webkit-transition: 1000ms;
  transition: 1000ms;

  &.my {
    -webkit-transition: 0ms;
    transition: 0ms;
  }

  &.opp { top: 185px;
    -webkit-transition: 0ms;
    transition: 0ms;
    z-index: 10;
  }

  &.small {
    -webkit-transform : scale(0.5);
    -moz-transform    : scale(0.5);
    -ms-transform     : scale(0.5);
    -o-transform      : scale(0.5);
    transform         : scale(0.5);
  }
}

#results {
  position: absolute; z-index: 3; width: 1000px; height: 72px; background: #4281a2; text-align: center;
  > div { display: inline-block; font-size: 20px; line-height: 20px; white-space: nowrap; padding: 26px;
    &.score { font-weight: bold; }
    > span { font-size: 11px; opacity: .5}
  }
}

.counter { width: 200px; height: 200px; position: absolute; z-index: 4; top: 170px; left: 400px; display: none; text-align: center;
  .count-3 { @include sprite($count_3); background-size: contain; background-image: url('/static/images/count_3.png'); margin: 0 auto;
    background-position: center; animation-name: example; animation-duration: 1s; display: none;
    &.show { display: block; }
  }
  .count-2 { @include sprite($count_2);  background-size: contain; background-image: url('/static/images/count_2.png'); margin: 0 auto;
    background-position: center; animation-name: example; animation-duration: 1s; display: none;
    &.show { display: block; }
  }
  .count-1 { @include sprite($count_1); background-size: contain; background-image: url('/static/images/count_1.png'); margin: 0 auto;
    background-position: center; animation-name: example; animation-duration: 1s; display: none;
    &.show { display: block; }
  }
}

@keyframes example {
  0%   { width: 40px; height: 40px; }
  100% { width: 200px; height: 200px; }
}

/* The element to apply the animation to */