/* @include css-gradient(#dfdfdf,#f8f8f8); */
/* @include box-sizing(border-box); */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
html, body {
  min-height: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif; }

.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); } }

@keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); } }

.shake {
  -webkit-animation-name: shake;
  animation-name: shake; }

.index {
  background: url('/static/images/index_bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%; }
  .index .online-count {
    position: absolute;
    display: inline-block;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px;
    color: #fff; }
  .index .wrapper {
    width: 490px;
    padding-right: 490px;
    margin: 0 auto;
    display: table;
    height: 100%; }
    .index .wrapper .span6 {
      padding: 30px 0;
      width: 50%;
      display: table-cell;
      vertical-align: middle; }
  .index .logo {
    width: 412px;
    height: 141px;
    background: url('/static/images/logo.png') no-repeat;
    margin: 0 0 60px; }
  .index .type-login input[type="text"] {
    background: rgba(0, 0, 0, 0.2);
    border: 0;
    outline: 0;
    line-height: 35px;
    font-size: 35px;
    color: #fff;
    padding: 20px;
    height: 75px;
    font-family: 'Lato', sans-serif;
    font-weight: 100; }
  .index .type-login ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #f2f2f2; }
  .index .type-login :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #f2f2f2;
    opacity: 1; }
  .index .type-login ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #f2f2f2;
    opacity: 1; }
  .index .type-login :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #f2f2f2; }
  .index .button-play {
    width: 336px;
    height: 70px;
    background: url('/static/images/button_play.png') no-repeat;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin: 30px auto;
    display: block; }
    .index .button-play:hover {
      background-position: 0 -70px; }
  .index .steps.first-step {
    display: none; }
  .index .steps.second-step {
    display: none; }
    .index .steps.second-step h2 {
      line-height: 35px;
      font-size: 35px;
      color: #fff;
      padding: 20px 0; }
    .index .steps.second-step ul {
      background: rgba(0, 0, 0, 0.2);
      height: 145px; }
      .index .steps.second-step ul li {
        float: left;
        padding: 0 8px; }
        .index .steps.second-step ul li .rackets {
          width: 104px;
          height: 108px;
          padding: 9px; }
          .index .steps.second-step ul li .rackets.one-player:before {
            content: " ";
            position: absolute;
            background-image: url(/static/images/sprite.png);
            background-position: 0px -400px;
            width: 67px;
            height: 86px;
            margin-left: 26px; }
          .index .steps.second-step ul li .rackets.full:before {
            content: " ";
            position: absolute;
            background-image: url(/static/images/sprite.png);
            background-position: -312px -200px;
            width: 104px;
            height: 86px; }
        .index .steps.second-step ul li .btn {
          width: 121px;
          height: 29px;
          overflow: hidden; }
          .index .steps.second-step ul li .btn div {
            background-image: url(/static/images/sprite.png);
            background-position: -97px -400px;
            width: 121px;
            height: 29px; }
          .index .steps.second-step ul li .btn.join-to-game div {
            margin-top: -29px;
            background-image: url(/static/images/sprite.png);
            background-position: -400px 0px;
            width: 121px;
            height: 58px; }
          .index .steps.second-step ul li .btn.join-to-game:hover div {
            margin-top: 0;
            cursor: pointer; }
  .index .error {
    font-size: 25px;
    color: #fff;
    padding: 15px 15px 15px 75px;
    background: rgba(0, 0, 0, 0.2); }
    .index .error:before {
      content: " ";
      position: absolute;
      width: 50px;
      margin-left: -60px;
      height: 50px;
      background-image: url('/static/images/warning.png');
      background-repeat: no-repeat;
      background-size: contain; }

.game {
  width: 100%;
  height: 100%;
  background: #000; }

.room-button {
  padding: 10px;
  color: #fff; }

.board {
  position: absolute;
  z-index: 2;
  width: 1000px;
  height: 563px;
  cursor: none;
  background: url('/static/images/board.jpg') no-repeat;
  overflow: hidden; }

#my-racket {
  position: absolute;
  z-index: 5;
  top: 290px;
  left: 444px;
  background-image: url(/static/images/sprite.png);
  background-position: -200px -200px;
  width: 112px;
  height: 192px;
  opacity: 0.6; }

.pointer {
  position: absolute;
  z-index: 3;
  top: 180px;
  background-image: url(/static/images/sprite.png);
  background-position: -400px -58px;
  width: 34px;
  height: 57px; }

.ball {
  position: absolute;
  z-index: 4;
  /*@include sprite($ball); */
  background: url('/dev/sprite/ball.png');
  width: 30px;
  height: 30px;
  top: 350px;
  -webkit-transition: 1000ms;
  transition: 1000ms; }
  .ball.my {
    -webkit-transition: 0ms;
    transition: 0ms; }
  .ball.opp {
    top: 185px;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: 0ms;
    transition: 0ms;
    z-index: 10; }

#results {
  position: absolute;
  z-index: 3;
  width: 1000px;
  height: 72px;
  background: #4281a2; }
  #results > div {
    float: left;
    font-size: 20px;
    line-height: 20px;
    white-space: nowrap;
    padding: 26px; }
    #results > div.score {
      font-weight: bold; }
    #results > div > span {
      font-size: 11px;
      opacity: .5; }

.counter {
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 4;
  top: 170px;
  left: 400px;
  display: none;
  text-align: center; }
  .counter .count-3 {
    background-image: url(/static/images/sprite.png);
    background-position: 0px -200px;
    width: 200px;
    height: 200px;
    background-size: contain;
    background-image: url('/static/images/count_3.png');
    margin: 0 auto;
    background-position: center;
    animation-name: example;
    animation-duration: 1s;
    display: none; }
    .counter .count-3.show {
      display: block; }
  .counter .count-2 {
    background-image: url(/static/images/sprite.png);
    background-position: -200px 0px;
    width: 200px;
    height: 200px;
    background-size: contain;
    background-image: url('/static/images/count_2.png');
    margin: 0 auto;
    background-position: center;
    animation-name: example;
    animation-duration: 1s;
    display: none; }
    .counter .count-2.show {
      display: block; }
  .counter .count-1 {
    background-image: url(/static/images/sprite.png);
    background-position: 0px 0px;
    width: 200px;
    height: 200px;
    background-size: contain;
    background-image: url('/static/images/count_1.png');
    margin: 0 auto;
    background-position: center;
    animation-name: example;
    animation-duration: 1s;
    display: none; }
    .counter .count-1.show {
      display: block; }

@keyframes example {
  0% {
    width: 40px;
    height: 40px; }

  100% {
    width: 200px;
    height: 200px; } }

/* The element to apply the animation to */
.rooms {
  background: #67aac5;
  padding-left: 1000px;
  width: 100%;
  box-sizing: border-box;
  /*
  display: none;*/ }
  .rooms .nag {
    padding: 10px;
    background: #6db3f2;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZkYjNmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzU0YTNlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzM2OTBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTY5ZGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6db3f2), color-stop(50%, #54a3ee), color-stop(51%, #3690f0), color-stop(100%, #1e69de));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 );
    /* IE6-8 */
    font-style: italic;
    color: #fff;
    text-shadow: 0px 1px 1px #00466a; }

.chat {
  background: #67aac5;
  padding-left: 1000px;
  width: 100%;
  height: 503px;
  box-sizing: border-box; }
  .chat .nag {
    padding: 10px;
    background: #6db3f2;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZkYjNmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzU0YTNlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzM2OTBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTY5ZGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6db3f2), color-stop(50%, #54a3ee), color-stop(51%, #3690f0), color-stop(100%, #1e69de));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 );
    /* IE6-8 */
    font-style: italic;
    color: #fff;
    text-shadow: 0px 1px 1px #00466a; }
  .chat ul {
    min-height: 467px;
    max-height: 467px;
    overflow-y: scroll; }
    .chat ul li {
      padding: 10px;
      font-size: 12px;
      color: #fff;
      text-shadow: 0px 1px 1px #00466a; }
      .chat ul li:nth-child(odd) {
        background: #4492b4; }
    .chat ul .login {
      font-weight: bold; }
  .chat .set-to-chat {
    height: 60px;
    background: #276983; }
    .chat .set-to-chat #data {
      padding: 19px 10px;
      background: #fff;
      line-height: 20px;
      height: 20px;
      margin: 10px;
      border: 0px;
      outline: 0;
      float: left;
      color: #000; }
    .chat .set-to-chat #datasend {
      float: left;
      border: 0px;
      padding: 20px;
      color: #fff;
      line-height: 4px;
      height: 20px;
      margin: 10px;
      background: #f34a49;
      /* Old browsers */
      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2YzNGE0OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk2JSIgc3RvcC1jb2xvcj0iI2U2MTUxNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
      background: -moz-linear-gradient(top, #f34a49 1%, #e61515 96%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f34a49), color-stop(96%, #e61515));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #f34a49 1%, #e61515 96%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #f34a49 1%, #e61515 96%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #f34a49 1%, #e61515 96%);
      /* IE10+ */
      background: linear-gradient(to bottom, #f34a49 1%, #e61515 96%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f34a49', endColorstr='#e61515',GradientType=0 );
      /* IE6-8 */ }
